body{
    heigth: 100hv;
    background-image: url(imggg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    background-attachment: fixed;
}

main{
    background-color: white;
    width: 50%;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
}
